In [1]:
import pandas as pd

In [3]:
data = pd.Series([0.0, 0.5, 1.0])
data

0    0.0
1    0.5
2    1.0
dtype: float64

In [15]:
area = pd.Series({"California": 423967, "New York": 141297})
population = pd.Series({"California": 38332521, "New York": 19651127})
df = pd.DataFrame({"area": area, "population": population})

In [17]:
df

              area  population
California  423967    38332521
New York    141297    19651127

In [19]:
df.area

California    423967
New York      141297
Name: area, dtype: int64

In [20]:
df.population

California    38332521
New York      19651127
Name: population, dtype: int64

In [21]:
df["density"] = df["population"] / df["area"]

In [22]:
df

              area  population     density
California  423967    38332521   90.413926
New York    141297    19651127  139.076746

In [23]:
df.T

              California      New York
area        4.239670e+05  1.412970e+05
population  3.833252e+07  1.965113e+07
density     9.041393e+01  1.390767e+02

In [24]:
df.iloc[0]

area          4.239670e+05
population    3.833252e+07
density       9.041393e+01
Name: California, dtype: float64

In [27]:
df.loc["California"]

area          4.239670e+05
population    3.833252e+07
density       9.041393e+01
Name: California, dtype: float64

In [28]:
df.values[0]

array([  4.23967000e+05,   3.83325210e+07,   9.04139261e+01])

In [29]:
df[df.density > 100]

            area  population     density
New York  141297    19651127  139.076746

In [30]:
df[df.density < 100]

              area  population    density
California  423967    38332521  90.413926

In [31]:
df.stack()

California  area          4.239670e+05
            population    3.833252e+07
            density       9.041393e+01
New York    area          1.412970e+05
            population    1.965113e+07
            density       1.390767e+02
dtype: float64

In [33]:
df.stack()["California"]

area          4.239670e+05
population    3.833252e+07
density       9.041393e+01
dtype: float64

In [37]:
type(df.stack().index)

pandas.core.indexes.multi.MultiIndex

In [39]:
df.stack()["California"]["area"]

423967.0

In [42]:
df.loc["California"]["area"]

423967.0

In [45]:
df["area"][0]

423967